<%= render "shared/nav_bar/devise" %>
<div class="container mg-top-50">
		<div class="row">
			<div class="col-md-4 col-md-offset-4">
				<div class="login-panel panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title"><%= t ".log_in" %></h3>
					</div>
					<div class="panel-body">
						<div id="flash-messages">
					        <%= render "layouts/shared/flash" %>
						</div>
						<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
							<div class="field">
								<%= f.label :login, User.human_attribute_name(:login) %><br />
								<%= f.text_field :login, autofocus: true, class: "form-control" %>
							</div>

							<div class="field">
								<%= f.label :password, User.human_attribute_name(:password) %><br />
								<%= f.password_field :password, autocomplete: "off", class: "form-control" %>
							</div>

							<div class="field">
								<%= f.check_box :remember_me %>
								<%= f.label :remember_me, User.human_attribute_name(:remember_me) %>
							</div>

							<div class="actions">
								<%= f.submit t(".log_in"), class: "btn btn-yellow w-100-percent bold pd-10" %>
							</div>
						<% end %>
						<div>
							<%= render "devise/shared/links" %>
						</div>
						<div>
							<button class="btn btn-facebook w-100-percent bold pd-10 mg-bottom-10">Đăng nhập với Facebook</button>
							<button class="btn btn-google w-100-percent bold pd-10 mg-bottom-10">Đăng nhập với Google</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>





